/* Place your CSS styles in this file */
body {
  margin: 20px;
  height: 100%;
  background-image: url('https://64.media.tumblr.com/13d99bb5b03ddaacbc198a0941ee951d/de5a35eddd9fad73-8c/s640x960/386cbb24961f1ef355a3bd1d0c2ec0eb43f96950.gif');
  font-family: Verdana, sans-serif;
}

.logoR {
  position: absolute;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: -5%;
}
.logoL {
  position: absolute;
  margin-left: -175px;
  margin-top: -4%;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 5 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.button {
  width: 95%;
  padding: 10px 0;
  font-size: 24px;
  margin: 0px auto;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 5px rgb(65, 65, 65);
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #f1f1f1;
  background-color: #fe0000;
}

.success {
  background-color: #00ff7b;
  color: #ff0000;
}

.button:hover {
  background-color: #ff5d5d;
  color: #ffffff;

  box-shadow: 0 5px rgb(43, 43, 43);
  transition: transform 0.3s;
  transform-style: preserve-3d;
  transform: rotateX(720deg);
}

.button:active {
  background-color: #00ae2b;
  color: #ffee00;
}

#myTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

#myTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

form {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

legend {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 20px;
  position: absolution;
  bottom: 8px;
  width: auto;
  text-align: center;
}

table {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  text-align: center;
  border-collapse: collapse;
  width: auto;
}

th {
  text-align: right;
  padding: 5px;
}

td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #d6eeee00;
}

fieldset {
  text-align: center;
}
